<%- include header %>

<body ng-app="crb" ng-controller="crbCtrl">
<div class="panel panel-primary" >
	<div class="panel-heading">
		<h3 class="panel-title"><%= title %></h3>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<%for(var i=0;i<news.length;i++){%>
				<li class="list-group-item">
				<a href="detail?id=<%= news[i].id %>"><%= news[i].name %></a>
				&nbsp;&nbsp;<%= news[i].department %>
				&nbsp;&nbsp;<%= news[i].classroom %>
				&nbsp;&nbsp;<%= news[i].opentime %>
				</li>
			<%}%>
		</ul>
	</div>
</div>
</body>
<script>
var app = angular.module("crb", []);
app.controller("crbCtrl", function($scope, $http){});
</script>

<%- include footer %>